{{#each gigs}}
<div class="col-sm-4 offset-sm-4 all-gigs">
  <div class="card">
    <div class="card-header">
      POST : {{dataValues.title}}
    </div>
    <div class="card-body">
      <p class="card-title">BUDGET : {{dataValues.budget}}</p>
      <div class="card-text">
        <p>TECHNOLOGIES : {{dataValues.technologies}}</p>
        <p>DESCRIPTION : {{dataValues.description}}</p>
        <p>CONTACT EMAIL : {{dataValues.contact_email}}</p>
      </div>
      <a href="mailto:{{dataValues.contact_email}}" class="btn btn-primary">Apply Now</a>
    </div>
  </div>
</div>
{{else}}
<p class="no-gig">No Gigs!!</p>
{{/each}}